src/main/resources/node.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="result">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:byte" name="vid"/>
				<xs:element type="xs:byte" name="uid"/>
				<xs:element type="xs:string" name="title"/>
				<xs:element type="xs:string" name="log"/>
				<xs:element type="xs:byte" name="status"/>
				<xs:element type="xs:byte" name="comment"/>
				<xs:element type="xs:byte" name="promote"/>
				<xs:element type="xs:byte" name="sticky"/>
				<xs:element type="xs:byte" name="nid"/>
				<xs:element type="xs:string" name="type"/>
				<xs:element type="xs:string" name="language"/>
				<xs:element type="xs:int" name="created"/>
				<xs:element type="xs:int" name="changed"/>
				<xs:element type="xs:byte" name="tnid"/>
				<xs:element type="xs:byte" name="translate"/>
				<xs:element type="xs:int" name="revision_timestamp"/>
				<xs:element type="xs:byte" name="revision_uid"/>
				<xs:element name="title_field">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="es">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="value"/>
													<xs:element type="xs:string" name="format"/>
													<xs:element type="xs:string" name="safe_value"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:string" name="is_array"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="field_product">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="und">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:byte" name="product_id"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:string" name="is_array"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="field_image"/>
				<xs:element name="field_category">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="und">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:byte" name="tid"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:string" name="is_array"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="field_tipo"/>
				<xs:element name="field_fecha_de_creaci_n">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="und">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:dateTime" name="value"/>
													<xs:element type="xs:dateTime" name="value2"/>
													<xs:element type="xs:string" name="timezone"/>
													<xs:element type="xs:string" name="timezone_db"/>
													<xs:element type="xs:string" name="date_type"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:string" name="is_array"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="field_descripci_n">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="und">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="value"/>
													<xs:element type="xs:string" name="format"/>
													<xs:element type="xs:string" name="safe_value"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:string" name="is_array"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="title_original"/>
				<xs:element type="xs:anyURI" name="path"/>
				<xs:element type="xs:byte" name="cid"/>
				<xs:element type="xs:int" name="last_comment_timestamp"/>
				<xs:element type="xs:string" name="last_comment_name"/>
				<xs:element type="xs:byte" name="last_comment_uid"/>
				<xs:element type="xs:byte" name="comment_count"/>
				<xs:element type="xs:string" name="name"/>
				<xs:element type="xs:byte" name="picture"/>
				<xs:element type="xs:string" name="data"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>